.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 7rem;
}

.actions {
  text-align: center;
}

.tooltip {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
